.signup-bground {
  background-image: url("https://wallpapers.com/images/hd/beach-sunset-hd-0fsttx9l0r5yq8wp.jpg");
  background-size: cover;
  min-height: calc(100vh);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.signin-bground {
  background-image: url("https://wallpapers.com/images/featured/beach-sunset-bwvid0licus1pjda.jpg");
  background-size: cover;
  min-height: calc(100vh);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.landing-bground {
  background-image: url("https://wallpapercave.com/wp/wp4100964.jpg");
  background-size: cover;
  min-height: calc(100vh - 54px);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.snackbar-style {
  position: relative;
  display: block;
  left: 26px;
  bottom: 1px;
  margin-top: -18px;
  padding-left: 4px;
  margin-right: 16px;
}

.dialog-height {
  min-width: 232px !important;
  max-width: 494px !important;
  border: 1px solid #d2d9df;
}


.border-col {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  margin-top: 20px;
}

.btn-pos {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 10px;
}


.logo {
  font-size: 20px;
  font-weight: bold;
}

.startup__title {
  width: 200px;
  align-items: center;
  justify-content: space-around;
}

.quick-tickets--policy {
  text-align: center;
  color: #9c9c9c;
}

.quick-tickets-a--policy {
  font-weight: 600;
  color: #8a8989e6;
}

.capitalize-text {
  text-transform: capitalize;
}

.signup-form--height {
  --vue-scroll-area-height: calc(100vh);
  max-height: var(--vue-scroll-area-height);
  min-height: var(--vue-scroll-area-height);
}

.col {
  flex-basis: auto;
}